
body {
	background-color: rgb(250, 250, 250);
}


/*Navbar*/
nav {
	position: fixed;
	top:0px;
	width: 100%;
	height: 77px;
	white-space: nowrap;
	background-color: rgb(255, 255, 255);
	padding: 0% 10%;
	border-bottom: 1px solid rgba(0,0,0,.0975);
}

/*Three sections of the nav bar*/
.nav-section {
	display: inline-block;
	position: relative;
	top: 0px;
	width: 33.3333%;
	height: 100%;
	text-align: center;
	padding: 20px;
	/*border: 1px solid black;*/
}

/*Positions and styles the Search Bar */
.nav-section input {
	position: absolute;
	top: 35%;
	left:17% ;
	width: 215px;
	height: 28px;
	padding: 7px;
	text-align: center;
	border-radius: 3px;
	background: #fafafa;
	border: solid 1px #dbdbdb;
	font-size: 14px;
    font-weight: 300;
    color: #999;
}

/*Positions the Search Glass*/
nav div:nth-child(2) span {
	position: absolute;
	top: 39%;
	z-index: 2;
	left: 38%;
}

/*Styles the Search Glass*/
.fa-search {
	color: #999;
	font-size: 11px;
}

/*Styles the Instagram icon*/
nav div:nth-child(1) i {
	position: absolute;
	left: 0px;
	font-size: 35px;
}

/*Styles and positions the Instagram cursive writing*/
nav div:nth-child(1) h1 {
	position: absolute;
	left: 40px;
	margin: 0px;
	margin-left: 5px;
	padding-left: 15px;
	border-left: 1px solid rgb(38, 38, 38);
	font-size: 30px;
	font-weight: 300;
	font-family: 'Pacifico', cursive;
	color: rgb(38, 38, 38);
}

nav div:nth-child(1) i, h1:hover {
	cursor: pointer;
}

/*Styling for the right side of navbar*/
.fa-compass {
	position: absolute;
	top: 30px;
	right: 130px;
	font-size: 25px;
}

.fa-heart {
	position: absolute;
	top: 30px;
	right: 80px;
	font-size: 25px;
}

.fa-user {
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: 25px;
}

nav div:nth-child(3) i:hover {
	cursor: pointer;
}
/*end of right side of nav bar*/


/****** Section1 ******/

#user-profile {
	position: relative;
	top: 77px;
	height: 152px;
	width: 75%;
	margin: auto;
	margin-top: 60px;
	background-color: rgb(250, 250, 250);
	/*border: 1px solid blue;*/
}

.user-pic {
	height: 152px;
	width: 152px;
	border-radius: 50%;
	border: 1px solid rgba(153,153,153,.5);
	margin-left: 5%;
}

/*End Section1*/
















